<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sbitbd.ibrahimK_gc">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlhelalAttendance.NoActionBar.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.sbitbd.ibrahimK_gc.teacher_page.teacher_page"
            android:exported="true"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar"/>
        <activity
            android:name="com.sbitbd.ibrahimK_gc.verification.verify"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.ibrahimK_gc.teacher_attendance.teacher_attend"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity android:name="com.sbitbd.ibrahimK_gc.ui.update_attendance.update_attendance" />
        <activity
            android:name="com.sbitbd.ibrahimK_gc.settings.settings"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.ibrahimK_gc.download.download"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar.NoActionBar" />
        <activity
            android:name="com.sbitbd.ibrahimK_gc.website.website"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.ibrahimK_gc.forget.forget_code"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.ibrahimK_gc.registration.registration"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar.NoActionBar" />
        <activity
            android:name="com.sbitbd.ibrahimK_gc.class_view.class_view"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.ibrahimK_gc.absent_view.absent_view"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.ibrahimK_gc.present_view.present_view"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.ibrahimK_gc.student_details"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.ibrahimK_gc.attend_form.attend"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.ibrahimK_gc.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.AlhelalAttendance.NoActionBar" />
        <activity
            android:name="com.sbitbd.ibrahimK_gc.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <receiver android:name=".network_listener.ConnectivityReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <service android:name="com.sbitbd.ibrahimK_gc.Service.attend_view_service" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>